@font-face {
    font-family: "Saira";
    src: url("./assets/fonts/Saira-VariableFont_wdth,wght.ttf") format("truetype");
  }
  
  body {
    font-family: "Saira", sans-serif;
  }
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  